{% extends "layout.njk" %}
{% block head %}
  <title>Foodfy</title>
{% endblock %}
{% block content %}
  <section class="text">
    <h2>Sobre o Foodfy</h2>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores veritatis fugiat voluptatum distinctio maiores
      est, libero, consequatur explicabo temporibus minus sequi eaque! Qui delectus laudantium mollitia deserunt, corrupti
      nostrum placeat.</h3>
    <h2>Como tudo começou...</h2>
    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis tempora autem exercitationem nam odio est a fugit,
      ut dolor suscipit rerum sunt harum id itaque incidunt ratione? Cum, sunt expedita.</h3>
    <h2>Nossas receitas</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolorum quod vitae ratione distinctio quaerat
      odio corrupti. Ullam, corporis repudiandae ea eligendi impedit fuga, enim natus earum nostrum excepturi recusandae.</h3>
  </section>
{% endblock %}