{% extends "layout.njk" %}
{% block head %}
    <title>Error 404</title>
{% endblock %}
{% block content %}
    <div id="error">
        <h2>ETANOZES!</h2>
        <p>Deu Erro!</p>
        <p>Chora não! Volte atrás e tente novamente!</p>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}