{% extends "layout.njk" %}
{% block head %}
  <title>{{ item.title }}</title>
{% endblock %}
{% block content %}
  <section class="card_receitas">
    <div class="receipt_card">
      <div class="card__recipe-container">
        <div class="foto">
          <img src="{{ item.image }}" alt="{{ item.title }}">
          </div>
          <div class="card__content">
            {{ item.title }}
          </div>
          <div class="card__info">
            {{ item.author }}
          </div>
          <div class="card__ingredients">
            <h2>Ingredientes</h2>
            <ul>
              {% for ingredients in item.ingredients %}
                <li>{{ ingredients }}</li>
              {% endfor %}
            </ul>
          </div>
          <br>
            <br>
              <div class="card__preparation">
                <h2>Instrução de Preparação</h2>
                <ol>
                  {% for preparation in item.preparation %}
                    <li>{{ preparation }}</li>
                  {% endfor %}
                </ol>
              </div>
              <br>
                <br>
                  <div class="card__information">
                    <h2>Instruções Extras</h2>
                    {{ item.information }}
                  </div>
                </div>
              </div>
            </section>
          {% endblock %}