{% extends "layout.njk" %}
{% block head %}
  <title>Recipes - Foodfy</title>
{% endblock %}
{% block content %}
  <section class="banner">
    <section class="cards">
      <div class="grid">
        {% for item in items %}
          <div class="card">
            <div class="card__image-container">
              <img src="{{ item.image }}" alt="{{ item.title }}">
                <div class="card__content">
                  {{ item.title }}
                </div>
                <div class="card__info">
                  {{ item.author }}
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </section>
{% endblock %}