{% extends "layout.njk" %}
{% block head %}
  <title>{{ item.title }}</title>
{% endblock %}
{% block content %}
  <section class="banner">
    <div class="card">
      <div class="card__recipe-container">
        <img src="{{ item.image }}" alt="{{ item.title }}">
          <div class="card__content">
            {{ item.title }}
          </div>
          <div class="card__info">
            {{ item.author }}
          </div>
          <div class="card__ingredients">
            <h2>Ingredientes</h2>
            <li>
              {% for ingredients in item.ingredients %}
                <li>{{ ingredients }}</li>
              {% endfor %}
            </li>
          </div>
          <br>
            <br>
              <div class="card__preparation">
                <h2>Instrução de Preparação</h2>
                <li>
                  {% for preparation in item.preparation %}
                    <li>{{ preparation }}</li>
                  {% endfor %}
                </li>
              </div>
              <br>
                <br>
                  <div class="card__information">
                    <h2>Instruções Extras</h2>
                    {{ item.information }}
                  </div>
                </div>
              </div>
            </section>
          {% endblock %}