{% extends "layout.njk" %}
{% block head %}
  <title>{{ item.title }}</title>
{% endblock %}
{% block content %}
  <section class="banner">
    <div class="card">
      <div class="card__image-container">
        <img src="{{ item.image }}" alt="{{ item.title }}">
          <div class="card__content">
            {{ item.title }}
          </div>
          <div class="card__info">
            {{ item.author }}
          </div>
          <div class="card__ingredients">
            {{ item.ingredients }}
          </div>
          <div class="card__preparation">
            {{ item.preparation }}
          </div>
          <div class="card__information">
            {{ item.information }}
          </div>
        </div>
      </div>
    </section>
  {% endblock %}